torch
torchvision
pandas
spacy
tqdm
streamlit
pillow
numpy
matplotlib
tensorboard
huggingface_hub
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz